@font-face {
  font-family: "Grotesk";
  src: url("../fonts/FoundersGrotesk-Semibold.woff2") format("woff2"),
    url("../fonts/FoundersGrotesk-Semibold.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Sansa";
  src: url("../fonts/BlackSansaPro-Thin.woff2") format("woff2"),
    url("../fonts/BlackSansaPro-Thin.woff") format("woff");
}

@font-face {
  font-family: "Neue";
  src: url("../fonts/NeueMontreal-Regular.woff2") format("woff2"),
    url("../fonts/NeueMontreal-Regular.woff") format("woff");
}

@font-face {
  font-family: "Aster";
  src: url("../fonts/AsterRegular.woff2") format("woff2"),
    url("../fonts/AsterRegular.woff") format("woff");
}
